@font-face {
  font-family: 'Product Sans Bold';
  src: url('./fonts/Product\ Sans\ Bold.ttf');
}

@font-face {
  font-family: 'Product Sans';
  src: url('./fonts/Product\ Sans\ Regular.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Product Sans', cursive;
}

body {
  background-color: #1A1A1A;
  color: white;
}

nav {
  padding: 2rem 10vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #46464642;
}

.logo,
.menu,
.nav-btn {
  width: 33.3%;
}

.logo {
  font-family: 'Product Sans Bold', cursive;
  text-align: center;
}

.logo a {
  color: #ffffff;
  text-decoration: none;
}

.burger {
  cursor: pointer;
  font-size:1.2rem;
  width: 2.5rem;
  height: 2.5rem;
  /* border: 1px solid white; */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #46464642;
}

.nav-btn {
  text-align: right;
}

.nav-btn a {
  display: inline-block;
  text-decoration: none;
  /* background-color: #0C9BF9; */
  background-image: linear-gradient(45deg, #0C9BF9, #AA22EE);
  color: white;
  font-weight: bold;
  padding: .8rem 2rem;
  font-family: 'Product Sans Bold', cursive;
  border-radius: .7rem;
}

header {
  padding: 5rem 10vw;
  text-align: center;
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
}

header h1 {
  margin-bottom: 2.5rem;
  font-size: 2.5rem;
  font-family: 'Product Sans Bold', cursive;
}

header h1 span {
  font-size: 4rem;
  display: inline-block;
  background-image: linear-gradient(45deg, #0C9BF9, #AA22EE);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.header-img {
  width: 100%;
}

.header-img img {
  max-width: 80%;
  border-radius: 2rem;
  border: 2px solid #0C9BF9;
}

.about {
  padding: 2rem 10vw;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapper i {
  margin: auto;
  font-size: 10rem;
  color: #0C9BF9;
  /* display: block; */
  /* width: 40%; */
}

.wrapper p {
  width: 60%;
  font-family: 'Product Sans', cursive;
  font-size: 1.5rem;
  line-height: 1.5;
  padding: 0 2rem;
  color: #c4c4c4;
}

.wrapper span,
.brief span,
.reply span {
  display: inline-block;
  background-image: linear-gradient(45deg, #0C9BF9, #AA22EE);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.how-to-use {
  padding: 7rem 10vw;
}

.how-to-use > h1 {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 2rem;
}

.how-to-use p {
  font-size: 1.5rem;
  line-height: 1.5;
  color: #c4c4c4;
}

/* .how-to-use p:nth-child(3) {
  font-family: 'Product Sans Bold', cursive;
} */

.command {
  padding: 1rem 1.5rem;
  margin: 2rem 0;
  background-color: #46464642;
  border-radius: .7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.3rem;
}

.command code {
  font-family: monospace;
  font-weight: bold;
}

.command span {
  color: #addeff;
  color: #e1a6ff;
}

.command a {
  text-decoration: none;
  /* cursor: pointer; */
  color: #999999;
  transition: color .3s ease-out;
}

.command a:hover {
  color: #0C9BF9;
}

.option {
  margin-bottom: 1rem;
}

p.option {
  color: #8b8b8b;
  font-size: 1.3rem;
}

.option span {
  font-weight: bold;
}

footer {
  border-top: 1px solid #46464642;
  padding: 3rem 10vw;
}

footer > a {
  display: block;
  text-decoration: none;
  text-align: center;
  margin-bottom: 3rem;
  color: #ffffff;
}

footer > a span {
  display: inline-block;
  background-image: linear-gradient(45deg, #0C9BF9, #AA22EE);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.mentions {
  text-align: center;
}

.mentions > h1 {
  margin-bottom: 1.5rem;
  text-decoration: underline;
}

.person {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.5rem 0;
  font-size: 1.3rem;
}

.person a {
  display: inline-block;
  text-decoration: none;
  color: #8b8b8b;
  margin-left: 1rem;
  transition: color .3s ease-out;
}

.person a:hover {
  color: #ffffff;
}

.person .fa-star {
  color: #E3B341;
  margin-right: .3rem;
  margin-left: 0;
  font-size: 1rem;
}